.header_info__container {
  display: flex;
  justify-content: space-between;
}

p {
  font-family: "Gilroy", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  min-width: 134px;
}