.services_container {
  max-width: 1200px;
  margin: 150px auto 0 auto;
  padding: 0 5px;
}

.services_title {
  font-family: "Gilroy", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  color: #21CAAB;
  margin: 0 0 64px 0;
}
